
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}
.wrapperBox {
  position : fixed;
  top : 0;
  left : 0;
  width : 100vw;
  height : 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #FBAB7E 0%, #F7CE68 100%)  ;
}
.innerBox {
  width : 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
.pageLink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}


